<div class="menu">
    <div>
        <p>STEPS COUNTER: {{getStepsAmount()}}</p>
    </div>

    <div>
        <p>FIELD SIZE: {{getDisplayRows()}} X {{getDisplayCols()}}</p>
        <label>ROWS:
            <input type="range" min="1" max="9" step="1" #rowsInput
                   (change)="setRowsAmount()"
                   [ngModel]="getDisplayRows()"
                   (ngModelChange)="setDisplayRows(rowsInput.value)"
            >
        </label>
        <label>COLUMNS:
            <input type="range" min="1" max="9" step="1" #colsInput
                   (change)="setColsAmount()"
                   [ngModel]="getDisplayCols()"
                   (ngModelChange)="setDisplayCols(colsInput.value)"
            >
        </label>
    </div>

    <div>
        <label>CHANGE CLICKED CELL:
            <input type="checkbox" #cellStateInput
                   [value]="getChangeClickedCell()"
                   (change)="setChangeClickedCell(cellStateInput.checked)"
            >
        </label>
    </div>

    <div>
        <button (click)="randomizeField()">RANDOMIZE FIELD</button>
    </div>

    <div>
        <button (click)="showAbout()">ABOUT</button>
    </div>
</div>
