<div class="menu">
    <div>
        <p>STEPS COUNTER: {{getStepsAmount()}}</p>
    </div>

    <div>
        <p>FIELD SIZE: {{getRowsAmount()}} X {{getColumnsAmount()}}</p>
        <label>ROWS:
            <input type="range" min="1" max="9" step="1" #rowsInput
                   [ngModel]="getRowsAmount()"
                   (change)="setRowsAmount(rowsInput.value)"
            >
        </label>
        <label>COLUMNS:
            <input type="range" min="1" max="9" step="1" #columnsInput
                   [ngModel]="getColumnsAmount()"
                   (change)="setColumnsAmount(columnsInput.value)"
            >
        </label>
    </div>

    <div>
        <label>CHANGE CLICKED CELL:
            <input type="checkbox" #cellStateInput
                   [ngModel]="getChangeClickedCell()"
                   (change)="setChangeClickedCell(cellStateInput.checked)"
            >
        </label>
    </div>

    <div>
        <button (click)="randomizeField()">RANDOMIZE FIELD</button>
    </div>

    <div>
        <button (click)="showAbout()">ABOUT</button>
    </div>
</div>
