div.game {
    align-items: center;
    background: #d3d3d3;
    color: #4b4b4b;
    display: flex;
    font-family: Impact, sans-serif;
    height: 100vh;
    justify-content: center;
    padding: 1%;
}
